<!--Título y descripción-->
@if(!edit){
<div class="flex flex-col items-center justify-center px-6 mt-8 md:mt-14 mx-auto cursor-default">
    <!-- <h1 class="flex text-white text-xl md:text-2xl">Regístrate</h1> -->
    <p class="text-gray-400 italic sm:max-w-md md:max-w-xl text-pretty text-center text-sm md:text-base">
        Regístrate de forma gratuita para interactuar con la comunidad
        <b>'TalentoDJs'</b>
    </p>
</div>
}@else {
<div class="flex flex-col items-center justify-center px-6 mx-auto cursor-default">
    <h1 class="flex text-white text-2xl md:text-3xl">Ajustes</h1>
    <p class="text-gray-400 italic text-pretty mx-6 mt-2 text-sm md:text-base">"Corrige tus datos o sube una imagen de
        avatar para tu perfil"
    </p>
</div>
}
<!--Formulario-->
<section>
    <div class="flex flex-col items-center justify-center px-6 pb-8 mx-auto">
        <div class="w-full rounded-lg shadow md:mt-0 sm:max-w-md md:max-w-lg xl:p-0">
            <div class="p-6 space-y-4 first:space-y-0 md:space-y-6 md:p-8 pt-5">
                @if(!edit){
                <h2 class="text-xl md:text-2xl text-center font-bold text-white/90 cursor-default">
                    CREA TU CUENTA
                </h2>
                }@else {
                <h2
                    class="flex justify-center text-lg font-semibold leading-tight tracking-tight md:text-xl text-white cursor-default">
                    Edita tus datos
                </h2>
                }
                <form [formGroup]="form" (ngSubmit)="onSubmit()" enctype="multipart/form-data" class="space-y-4 md:space-y-6">
                    <div>
                        <label for="name"
                            class="block mb-1 mt-5 text-sm md:text-base font-medium text-gray-900 dark:text-white">Nombre</label>
                        <input type="text" formControlName="name" id="name"
                            [ngClass]="{ 'is-invalid': submitted && f['name'].errors }"
                            class="border text-sm md:text-base rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-500 text-white focus:ring-blue-500 focus:border-blue-500"
                            placeholder="Nombre">
                        @if(submitted && f['name'].errors){
                        <small class="text-red-700">
                            @if (f['name'].errors['required']) {
                            El nombre es requerido
                            }
                            @if (f['name'].errors['maxlength']) {
                            <div>El nombre no puede tener mas de 20 caracteres</div>
                            }
                        </small>
                        }
                    </div>
                    <div>
                        <label for="surname"
                            class="block mb-1 text-sm md:text-base font-medium text-gray-900 dark:text-white">Apellido</label>
                        <input type="text" formControlName="surname" id="surname"
                            [ngClass]="{ 'is-invalid': submitted && f['surname'].errors }"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm md:text-base rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-500 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="Apellido">
                        @if(submitted && f['surname'].errors){
                        <small class="text-red-700">
                            @if (f['surname'].errors['required']) {
                            Los apellidos son requeridos
                            }
                            @if (f['surname'].errors['maxlength']) {
                            <div>Los apellidos no puede tener mas de 20 caracteres</div>
                            }
                        </small>
                        }
                    </div>
                    <div>
                        <label for="nick"
                            class="block mb-1 text-sm md:text-base font-medium text-gray-900 dark:text-white">Nick</label>
                        <input type="text" formControlName="nick" id="nick"
                            [ngClass]="{ 'is-invalid': submitted && f['nick'].errors }"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm md:text-base rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-500 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="Apodo">
                        @if(submitted && f['nick'].errors){
                        <small class="text-red-700">
                            @if (f['nick'].errors['required']) {
                            El nick es requerido
                            }
                            @if (f['nick'].errors['maxlength']) {
                            El nick no puede tener mas de 20 caracteres
                            }
                        </small>
                        }
                    </div>
                    @if(!edit){
                    <div>
                        <label for="email"
                            class="block mb-1 text-sm md:text-base font-medium text-gray-900 dark:text-white">
                            Email</label>
                        <input type="email" formControlName="email" id="email"
                            [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm md:text-base rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-500 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="hola@ejemplo.com">
                        @if(submitted && f['email'].errors){
                        <small class="text-red-700">
                            @if (f['email'].errors['required']) {
                            El email es requerido
                            }
                            @if (f['email'].errors['email']) {
                            El email no es válido
                            }
                        </small>
                        }
                    </div>
                    }@else {
                    <div>
                        <label for="email"
                            class="block mb-1 text-sm md:text-base font-medium text-gray-900 dark:text-white">
                            Email</label>
                        <input type="email" formControlName="email" id="email"
                            [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
                            class="border text-sm md:text-base rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-500 text-gray-100 cursor-default"
                            placeholder="hola@ejemplo.com" [readOnly]="true">
                        @if(submitted && f['email'].errors){
                        <small class="text-red-700">
                            @if (f['email'].errors['required']) {
                            El email es requerido
                            }
                            @if (f['email'].errors['email']) {
                            El email no es válido
                            }
                        </small>
                        }
                    </div>
                    }
                    @if(!edit){
                    <div>
                        <label for="password"
                            class="block mb-1 text-sm md:text-base font-medium text-gray-900 dark:text-white">Contraseña</label>
                        <input type="password" formControlName="password" id="password" autocomplete="new-password"
                            placeholder="••••••••" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm md:text-base rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-500 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        @if (submitted && f['password'].errors) {
                        <small class="text-red-700">
                            @if (f['password'].errors['required']) {
                            La contraseña es requerida
                            }
                            @if (f['password'].errors['minlength']) {
                            La contraseña debe tener un minimo de 8 caracteres
                            }
                            @if (f['password'].errors['maxlength']) {
                            La contraseña no puede exceder de 40 caracteres
                            }
                        </small>
                        }
                    </div>
                    <div>
                        <label for="confirm-password"
                            class="block mb-1 text-sm md:text-base font-medium text-gray-900 dark:text-white">Confirmar
                            contraseña</label>
                        <input type="password" formControlName="vpass" id="vpass" placeholder="••••••••"
                            [ngClass]="{ 'is-invalid': submitted && f['vpass'].errors }"
                            class="bg-gray-50 border mb-2 border-gray-300 text-gray-900 text-sm md:text-base rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-500 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        @if (submitted && f['vpass'].errors) {
                        <small class="text-red-700"> @if (f['vpass'].errors['required']) {
                            Se requiere verificar la contraseña
                            }
                            @if (f['vpass'].errors['matching']) {
                            No coincide con la contraseña indicada
                            }
                        </small>
                        }
                    </div>
                    }@else {
                    <div> <!-- AVATAR -->                       
                        <label for="avatar"
                            class="flex items-center text-sm md:text-base font-medium text-gray-900 dark:text-white">
                            Avatar
                            @if(!userData?.avatar){
                                <img class="w-8 h-8 ml-2 mb-2 opacity-50 rounded-full"
                                src="assets/img/picture-profile-icon.jpg" alt="user photo">
                            }@else {
                                <div class="mb-3 ml-4">
                                    <app-avatar [ImageName]="userData?.avatar" [size]=60
                                    [userName]="userData?.name"></app-avatar>
                                </div>
                            }
                        </label>                                              
                        <input type="file" accept="image/*" formControlName="avatar" id="avatar" (change)="onFileSelected($event)"
                            [ngClass]="{'is-invalid': submitted && f['avatar'].errors }"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-xs md:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-500 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            @if(!updateMessage){
                                <div id="preview"></div>
                            }
                        @if(f['avatar'].errors){
                        <small class="text-red-700">
                            @if (f['avatar'].errors['maxlength']) {
                            El avatar no puede tener mas de 100 caracteres
                            }
                        </small>
                        }
                        <p class="flex justify-center text-red-800 text-base font-bold mt-5">{{updateMessage2}}</p>
                        <p class="flex justify-center text-green-700 text-base font-bold">{{updateMessage}}</p>     
                    </div>
                    }
                    <!-- @if(!edit){
                    <div class="flex items-start">
                        <div class="flex items-center h-5 pt-0.5">
                            <input id="acceptTerms" aria-describedby="terms" type="checkbox"
                                formControlName="acceptTerms"
                                [ngClass]="{ 'is-invalid': submitted && f['acceptTerms'].errors }"
                                class="w-4 h-4 border rounded hover:ring-1 hover:ring-primary-600 bg-gray-700 border-gray-600 focus:ring-primary-600 dark:ring-offset-gray-800"
                                required="">
                        </div>
                        <div class="ml-1 text-xs pt-1">
                            <label for="acceptTerms" class="font-light text-gray-300">Acepto los <a
                                    class="font-medium text-primary-600 hover:underline dark:text-primary-500"
                                    href="#">Terminos and Condiciones</a></label><br>
                            @if (submitted && f['acceptTerms'].errors) {
                            <small class="text-red-700">-Debes aceptar los Terminos y Coindiciones-</small>
                            }
                        </div>
                    </div>
                    } -->

                    <p class="text-red-700">{{errorMessage}}</p>
                    @if(!edit){
                    <button type="submit"
                        class="w-full text-white bg-primary-600 focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-3 text-center bg-primary-60 hover:bg-primary-700 focus:ring-primary-800">
                        Crear cuenta</button>
                    <p class="text-xs sm:text-sm font-light flex items-center justify-center text-gray-400">
                        Ya tienes cuenta? <a routerLink="/login"
                            class="text-xs ml-1.5 font-medium text-primary-500 hover:text-primary-600 hover:underline bg-slate-900/50 hover:bg-slate-900/60 border border-gray-700 p-2 rounded-lg"> Inicia
                            sesión aquí</a>
                    </p>
                    }@else {
                        @if(updateMessage2 === ""){
                            <button type="submit" class="w-full text-white focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center bg-primary-600 hover:bg-primary-700 focus:ring-primary-800">
                            Actualizar datos
                            </button>
                        } @else {
                            <button type="submit" disabled class="w-full text-gray-200 focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center bg-primary-400">
                                Actualizar datos
                            </button>
                        }
                    }     
                    @if(registerTrue){
                        <div class="flex flex-col justify-center p-2 rounded-lg border border-green-600">
                            <p class="text-center text-green-600">{{registerMessage}}</p>
                            <span class="text-center text-gray-400">{{registerMessage2}}</span>
                        </div>
                    }       
                </form>
            </div>
        </div>
    </div>
</section>