<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Permitir el acceso al directorio downloads
  RewriteRule ^downloads/.*$ - [L]

  # Mantener las reglas de reescritura para la SPA
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /dist/browser/index.html [L]
</IfModule>

<IfModule mod_mime.c>
  AddType application/vnd.android.package-archive .apk
</IfModule>