<!--PIE DE PÁGINA FOOTER-->
<footer class="max-w-screen-xl mx-auto rounded-lg shadow bg-gray-900/10 border border-gray-800 m-2">
    <div class="mx-auto p-4 mb-14 md:mb-0">
        <div class="flex items-center justify-between">
            <a routerLink="/inicio" class="flex items-center">
                <img src="assets/img/logo-r.webp" class="h-12 md:h-14" alt="Logo"/>
                <span class="self-center text-xl sm:text-2xl italic font-semibold whitespace-nowrap text-slate-200">TalentoDJs</span>
            </a>
            <ul class="flex flex-wrap items-center sm:mr-2 md:mr-4 text-xs sm:text-sm font-medium text-gray-400">
                <li>
                    <a routerLink="/contacto" class="hover:text-white me-4 md:me-4">Sugerencias</a>
                </li>
                
                <li> 
                    <a routerLink="/contacto" class="hover:text-white">Contacto</a>
                </li>
            </ul>
        </div>
        <hr class="my-4 sm:mx-auto border-gray-700" />
        <div class="flex justify-center">
            <span class="block text-xs sm:text-sm sm:text-center text-gray-400 cursor-default md:py-1 lg:py-2">App web creada por David Sarrión © 2024.</span>
        </div>
        
    </div>
</footer>
<!--FIN DEL FOOTER-->