<section class="max-w-screen-xl mx-auto p-4"> 
    <div class="cursor-default">
        <h1 class="mb-1 lg:mb-2 mt-4 lg:mt-4 text-center text-xl md:text-2xl font-semibold tracking-tight text-gray-300">
            {{video.dj}}
        </h1>    
        <h2 class="mb-4 lg:mb-6 italic text-center pb-2 md:text-lg tracking-tight text-gray-400">
            {{video.title}}
        </h2>
        <p class="text-red-700 text-lg text-center mb-2">{{errorMessage}}</p>
    </div> 
    <div class="w-full border rounded-lg shadow bg-gray-800 border-gray-900/50">
                    <!--Zona de Video-->
        @if(idVideoYT){
        <div #demoYouTubePlayer class="demo-youtube-player flex justify-center">
            <section>
                <youtube-player [videoId]=idVideoYT [width]="videoWidth" [height]="videoHeight"></youtube-player>
            </section>
        </div>
        }
                    <!-- Zona de Opciones -->
        <section class="p-1 flex w-full">
            <div class="flex-auto sm:ml-2 lg:ml-4 mt-1.5">
                <div class="flex items-center group">
                    @if(!haslike){
                        @if(userLoginOn){
                            <div (click)="addFavorite()" class="flex items-center my-2 p-1 cursor-pointer">
                                <app-unlike></app-unlike>
                                <p class="text-gray-300 group-hover:text-white text-[11px] sm:text-xs ml-0.5 lg:ml-1 sm:pt-0">Añadir a Favoritos</p>
                            </div>
                        }@else {
                            <div (click)="toggleModal()" class="flex items-center my-2 p-1 cursor-pointer">
                                <app-unlike></app-unlike>
                                <p class="text-gray-300 group-hover:text-white text-[11px] sm:text-xs ml-0.5 lg:ml-1 sm:pt-0">Añadir a Favoritos</p>
                            </div>
                        }                
                    }@else {
                        <div class="flex items-center my-1.5 py-1">
                            <app-like title="Eliminar favorito" (click)="deleteFavorite()"></app-like>
                            <p class="text-gray-100 text-[11px] sm:text-xs mt-0.5 sm:pt-0 lg:ml-0.5 cursor-default">
                            Añadido a 'Favoritos'</p>
                        </div>
                    }           
                </div>
            </div>
            <div class="flex-2 ml-2">
                <div (click)="toggleComments()" class="flex items-center my-3.5 cursor-pointer group hover:border-y hover:border-gray-400 py-1">
                    <app-icon-comments></app-icon-comments>
                    @if(countComments != 0){
                        <span class="text-gray-400 text-[10px] lg:text-[11px] sm:pt-0 sm:mt-0.5 group-hover:text-white">({{countComments}})</span>
                    }
                    <p class="text-gray-300 group-hover:text-white text-xs md:text-sm ml-0.5 sm:mr-0.5 mt-0.5">Comentarios</p>                   
                </div>
            </div>
            <div class="flex-2 md:mr-2 lg:mr-8">
                <a href="whatsapp://send?text=🔥%20La%20Mejor%20Música%20🔥%20https://talentodjs.com"
                    class="flex items-center my-3.5 ml-1 lg:ml-4 cursor-pointer group hover:border-y hover:border-gray-400 p-1">
                    <app-share></app-share>
                    <p class="text-gray-300 group-hover:text-white text-xs md:text-sm mt-0.5 ml-0.5">Compartir</p>        
                </a>
            </div>
        </section>

                                        <!-- Zona de Comentarios -->
        @if(showComments){
            <section class="flex flex-col w-full cursor-default">
                <div class="mx-4">
                    <h2 class="text-gray-200 lg:text-lg ml-1 lg:ml-2">Comentarios</h2>
                    <hr class="h-px mt-1 mb-2 border-0 bg-gray-700">
                </div>
                @if(countComments > 0){
                    <ul> <!-- Ver comentarios de video -->
                        @for(comment of comments; track comment){
                            <li class="last:mb-2">
                                <section class="w-full flex text-xs md:text-sm">
                                    <div class="block my-2 ml-6 min-w-10 lg:mt-3">
                                        <app-avatar-icon [ImageName]="comment.user_avatar"></app-avatar-icon>
                                    </div>
                                    <div class="flex flex-col m-2 cursor-default">
                                        <span class="text-gray-300 italic text-xs lg:text-sm">'{{comment.user_nick}}'</span>
                                        <span class="text-gray-400 text-sm lg:text-base">
                                            {{comment.content}}
                                        </span>
                                    </div>
                                </section>
                            </li>
                        } 
                    </ul>  
                } @else {
                    <p class="flex justify-center p-1 m-1 text-xs text-gray-400 lg:text-sm mb-4 rounded-lg">Aun no hay comentarios disponibles...</p>
                }
                @if(userLoginOn){       <!-- Si esta registrado -->
                    <div> <!-- Formulario para enviar comentario -->
                        <form [formGroup]="form" (ngSubmit)="onSubmit()">
                            <label for="content" class="sr-only">Tu mensaje</label>
                            <div class="relative flex items-center px-3 py-2 rounded-lg bg-gray-50 dark:bg-gray-700">
                                <button type="button" id="emoji-button" (click)="toggleEmojis()"
                                    class="p-2 rounded-lg cursor-pointer  text-gray-300 hover:text-gray-200 hover:bg-gray-600">
                                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                        viewBox="0 0 20 20">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M13.408 7.5h.01m-6.876 0h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0ZM4.6 11a5.5 5.5 0 0 0 10.81 0H4.6Z" />
                                    </svg>
                                    <span class="sr-only">Añadir emoji</span>
                                </button>
                                @if(showEmojis){
                                    <emoji-picker id="emoji-picker" class="dark absolute top-16 -left-0.5" (emoji-click)="addEmoji($event)"></emoji-picker>
                                }                             
                                <textarea formControlName="content" id="content" rows="1"
                                    class="block mx-4 p-2.5 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    placeholder="Escribe un mensaje..."></textarea>
                                <button type="submit"
                                    class="inline-flex justify-center p-2 rounded-full cursor-pointer hover:bg-blue-100 hover:text-blue-500 text-gray-300 dark:hover:bg-gray-600">
                                    <svg class="w-5 h-5 rotate-90 rtl:-rotate-90" aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
                                        <path
                                            d="m17.914 18.594-8-18a1 1 0 0 0-1.828 0l-8 18a1 1 0 0 0 1.157 1.376L8 18.281V9a1 1 0 0 1 2 0v9.281l6.758 1.689a1 1 0 0 0 1.156-1.376Z" />
                                    </svg>
                                    <span class="sr-only">Enviar mensaje</span>
                                </button>
                            </div>
                            @if(submitted && f['content'].errors && showError){
                                <small class="flex justify-center p-1 m-1 text-sm rounded-lg bg-gray-800 text-red-600">
                                    @if (f['content'].errors['required']) {
                                        Tu comentario está vacio   
                                    }
                                    @if (f['content'].errors['maxlength']) {
                                        Los comentarios no pueden sobrepasar los 120 caracteres
                                    }
                                    @if (f['content'].errors['minlength']) {
                                        El comentario debe tener al menos de 3 caracteres
                                        }
                                </small>                      
                            }
                        </form>
                    </div>
                }@else{          <!-- Si no esta registrado -->                       
                        <div class="flex items-center px-3 py-2 rounded-lg bg-gray-700" title="Inicia sesión">
                            <div type="button"
                                class="p-2 rounded-lg text-gray-400">
                                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                    viewBox="0 0 20 20">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M13.408 7.5h.01m-6.876 0h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0ZM4.6 11a5.5 5.5 0 0 0 10.81 0H4.6Z" />
                                </svg>
                                <span class="sr-only">Añadir emoji</span>
                            </div>
                            <textarea id="content" rows="1" disabled
                                class="flex items-center mx-4 p-2.5 w-full text-sm rounded-lg border-gray-600 bg-gray-800 placeholder-gray-500 text-white"
                                placeholder="Inicia sesion..."></textarea>
                            <div
                                class="inline-flex justify-center p-2 rounded-full text-gray-500">
                                <svg class="w-5 h-5 rotate-90 rtl:-rotate-90" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
                                    <path
                                        d="m17.914 18.594-8-18a1 1 0 0 0-1.828 0l-8 18a1 1 0 0 0 1.157 1.376L8 18.281V9a1 1 0 0 1 2 0v9.281l6.758 1.689a1 1 0 0 0 1.156-1.376Z" />
                                </svg>
                                <span class="sr-only">Enviar mensaje</span>
                            </div>
                        </div>                           
                }                           
            </section>
        }
        
    </div>
</section>
<div class="-mb-3 md:-mb-6">
    <app-my-apk></app-my-apk>
</div>

@if(category){
<app-content [category]="category"></app-content>
}
@if(categoryTrends){
<app-content [category]="categoryTrends"></app-content>
}

        //VENTANA EMERGENTE INICIAR SESION
@if(showModal){
<div id="popup-modal" tabindex="-1"
  class="overflow-y-auto overflow-x-hidden fixed inset-0 z-40 flex justify-center items-center w-full bg-black/60 md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative p-4 w-full max-w-md max-h-full">
    <div class="relative rounded-lg shadow bg-gray-700/90">
      <button type="button" (click)="toggleModal()"
        class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
        data-modal-hide="popup-modal">
        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
        </svg>
        <span class="sr-only">Cerrar ventana</span>
      </button>
      <div class="p-4 md:p-5 text-center">
        <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
        <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">Inicia sesion para guardar en 'Favoritos'</h3>
        <a routerLink="/login" class="text-white bg-gray-500 hover:bg-gray-400 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center">
            Login
        </a>
        <a routerLink="/registro" class="py-2.5 px-4 ms-1.5 text-sm font-medium focus:outline-none rounded-lg border focus:z-10 focus:ring-4 focus:ring-gray-700 bg-blue-600 text-gray-100 border-gray-600 hover:text-white hover:bg-blue-500">
            Registro
        </a>
      </div>
    </div>
  </div>
</div>
}