<!--Título-->
<!-- <div class="flex flex-col items-center justify-center px-6 pt-8 mx-auto">
    <h1 class="flex text-3xl font-semibold text-gray-200 lg:text-3xl">BIENVENIDO</h1>
</div> -->
<!--Formulario-->
<section>
    <div class="flex flex-col items-center justify-center px-4 my-16 md:my-20 lg:my-24 lg:mb-28 mx-auto">
        <div
            class="w-full rounded-xl shadow md:mt-0 sm:max-w-md xl:p-0 bg-gray-800/50">           
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8 mb-4 mt-4">                
                <h2 class="text-center font-bold text-2xl md:text-3xl text-white/90 cursor-default">
                    BIENVENIDO 
                </h2>    
                         
                <form [formGroup]="form" (ngSubmit)="onSubmit()" class="space-y-4 md:space-y-6">                   
                    <div>                       
                        <label for="email" class="block mb-2 text-sm md:text-base font-medium text-gray-900 dark:text-white">Tu
                            email</label>
                        <input type="email" formControlName="email" id="email" placeholder="hola@ejemplo.com"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm md:text-base rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        @if(submitted && f['email'].errors){
                        <small class="text-red-700">
                            @if (f['email'].errors['required']) {
                            El email es requerido
                            }
                            @if (f['email'].errors['email']) {
                            El email no es válido
                            }
                        </small>
                        }
                    </div>
                    <div>
                        <label for="password"
                            class="block mb-2 text-sm md:text-base font-medium text-gray-900 dark:text-white">Contraseña</label>
                        <input type="password" formControlName="password" id="password" autocomplete="new-password" placeholder="••••••••"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm md:text-base rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        @if (submitted && f['password'].errors) {
                        <small class="text-red-700">
                            @if (f['password'].errors['required']) {
                            La contraseña es requerida
                            }
                            @if (f['password'].errors['minlength']) {
                            La contraseña debe tener un minimo de 8 caracteres
                            }
                            @if (f['password'].errors['maxlength']) {
                            La contraseña no puede exceder de 40 caracteres
                            }
                        </small>
                        }
                    </div>
                    <div class="flex items-center justify-between">
                        <div class="flex items-start">
                            <div class="flex items-center h-5">
                                <input id="remember" aria-describedby="remember" type="checkbox" checked
                                class="w-4 h-4 border rounded focus:ring-1 bg-gray-700 border-gray-600 dark:ring-offset-gray-800 cursor-pointer">
                            </div>
                            <div class="ml-2 text-sm">
                                <label for="remember" class="text-xs md:text-sm text-gray-300">Recordarme</label>
                            </div>
                        </div>
                        <span
                            class="text-xs md:text-sm font-medium hover:underline text-primary-500 cursor-pointer">Olvidaste
                            tu contraseña?
                        </span>
                    </div>
                    @if(loginError){
                        <p class="text-red-700 text-center">ERROR: {{loginError}}</p>  
                    }           
                    <button type="submit"
                        class="w-full text-white focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center bg-primary-700 hover:bg-primary-800 focus:ring-primary-800">Acceder
                    </button>
                    <span class="flex items-center justify-center text-gray-400 text-xs md:text-sm cursor-default">
                        Aun no estas registrado?
                        <a routerLink="/registro" class="text-xs ml-1.5 font-medium text-primary-500/80 hover:text-primary-600 hover:underline bg-gray-900 hover:bg-gray-950/20 border border-gray-700 p-2 rounded-lg">Registrate aquí</a>    
                    </span>
                </form>
            </div>
        </div>
    </div>
</section>