<section class="max-w-screen-lg mx-auto mt-10 mb-6 md:mb-8">
    <div class="flex justify-center item-center mb-4 md:mb-6 ml-4">
        <h2 class="text-gray-200 text-xl italic text-center font-semibold mr-2 md:mr-3 pt-1">
            DJsMusic Android
        </h2>
        <app-android></app-android>   
    </div> 
    <div class="flex justify-center text-gray-300 ml-6">
        <div class="border border-gray-400/60 rounded-3xl flex p-5 w-auto">
            <img src="assets/img/logo-r.webp" class="w-28" alt="Logo"/>
        </div>
        <div class="flex flex-col ml-4 mt-3 md:mt-2">
            <span class="font-semibold text-gray-200 md:text-lg">
                DJsMusic
            </span>
            <span class="text-xs md:text-sm">
                Version 1.1
            </span>
            <span class="text-xs mt-2.5 mb-0.5 md:text-sm">
                Plataforma musical
            </span>
            <span class="text-xs md:text-sm">
                ⭐​⭐⭐⭐⭐
            </span>
            <span class="text-xs mt-3 md:text-sm">
                Gratuita
            </span>
        </div>
    </div>
    <section class="flex justify-center text-gray-300 text-sm md:text-base mt-8">
        <span class="border border-gray-600/80 rounded-s-md p-2">
            Ultima Version:
        </span>
        <span class="border border-gray-600/80 rounded-e-md p-2">
            1.1
        </span> 
    </section>
    <div class="flex justify-center mt-2 md:mt-3 mb-6 font-normal">
        <a href="/downloads/app-release.apk" download="DJsMusic.apk" class="rounded-lg text-xs flex items-center px-4 p-2 md:p-3 md:text-base font-bold text-gray-800 border border-gray-600 bg-green-500 hover:scale-105 hover:bg-green-400 hover:text-gray-700 transition-transform">
            <div class="pr-1">
                <app-download></app-download>
            </div>
            Descargar APK
        </a>
    </div>
    <section class="text-gray-300 text-sm md:text-base mb-6 md:mb-8 mx-4 font-normal text-pretty">
        <p>
            <i><b>DJsMusic</b> es una plataforma músical donde podras escuchar la mejor música actual de los méjores DJs. 
            Podras registrarte de forma gratuita para interactuar con la comunidad 'TalentoDJs', comenta tus sesiones 
            preferidas, guardarla en favoritos y la encontraras rapidamente en tu sección: 'Mis Favoritos'. 
            Las categorías y las sesiones de música se van actualizando constantemente para estar al dia de la mejor música y los mejores DJs.</i>
        </p>   
    </section>
    <section class="flex justify-center w-auto mb-8 md:mb-12">
            <img src="assets/img/proy.12.webp" class="h-[403px] md:h-[433px] mt-1.5" alt="Logo"/> 
            <img src="assets/img/proy.11.webp" class="h-[410px] md:h-[440px]" alt="Logo"/>
                  
    </section>
    <section class="text-gray-300 text-sm mx-4 md:text-base text-center font-normal text-pretty">
        <p>
            Página Oficial para descargar la aplicación de forma gratuita, sin publicidad y 100% libre de virus o malware.
        </p> 
    </section>
    <div class="flex justify-center mt-4 md:mt-6 mb-5 md:mb-7 font-normal">
        <a href="/downloads/app-release.apk" download="DJsMusic.apk" class="rounded-lg text-xs flex items-center px-4 p-2 md:p-3 md:text-base font-bold text-gray-800 border border-gray-600 bg-green-500 hover:scale-105 hover:bg-green-400 hover:text-gray-700 transition-transform">
            <div class="pr-1">
                <app-download></app-download>
            </div>
            Descargar APK
        </a>
    </div>
    <section class="max-w-screen-md flex mx-2 md:mx-auto flex-col text-gray-300 text-sm mt-2 border bg-gray-500/10 border-gray-600/80 p-2 rounded-lg">
        <span class="flex justify-center text-base pb-1">
            <u>Novedades de la última versión 1.1</u>
        </span>
        <span class="text-center pb-1">
            Pequeñas correcciones de errores y mejoras. Instale o actualice a la versión más reciente para comprobarlo.
        </span>
    </section> 
</section>
